.post-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post {
  position: relative;
  top: 8px;
}

.icon-container {
  display: flex;
  text-align: center;
}

.post-counters-outer {
  position: relative;
  top: 50%;
  margin-right: 5px;
}

.post-counters-inner {
  position: relative;
  bottom: 15px;
}
