.container {
  width: 80%;
  margin: auto;
}

.text-area {
  textarea {
    margin-top: 10px;
    resize: none;
    height: 140px;
    width: 100%;
  }
}

.tweet-action-button {
  display: flex;
  flex-direction: row;
}
