<head>
  <%= stylesheet_link_tag "navbar" %>
</head>
<body>
  <div class="navbar display-flex display-flex--wrap">
    <span class="title">Twitter Clone</span>
    <nav>
      <ul class="list-unstyled display-grid display-grid-column">
        <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </li>
        <li>test</li>
      </ul>
    </nav>
  </div>
</body>
